.addTaskBody {
    height: calc(100vh - 32px);
}

.addTaskOverlayBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    pointer-events: all;
    z-index: 100;
}

.addTaskOverlay {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1000;
}

.addTaskOverlay.show {
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
}

.addTaskOverlayContent {
    z-index: 1;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2A3647;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
}

.addTaskContainerPadding {
    padding-left: 116px;
    padding-right: 96px;
    padding-top: 110px;
    padding-bottom: 127px;
}

.addTaskContainerPadding:has(.addTaskMainSectionContent) {
    padding-bottom: 71px;
}

.addTaskHeadline {
    height: 73px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.addTaskMainContent {
    width: 90%;
    height: 100%;
    display: flex;
    gap: 48px;
    max-height: 560px;
}

.addTaskInputsLeftSide,
.addTaskInputRightSide {
    max-width: 440px;
    width: 100%;
}

.addTaskMainContent p {
    margin: 0;
    font-size: 20px;
}

.requiredStar {
    color: #FF8190;
    display: inline-block;
}

.addTaskInputContainerWithValidation {
    height: 64px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 8px;
}

.addTaskDescriptionContainerWithValidation {
    height: 136px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 8px;
}

.addTaskDescriptionInputContent {
    height: 168px;
    padding-bottom: 16px;
}

.addTaskDescriptionInputContainer {
    height: 120px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 2px);
    position: absolute;
}

.bgWhite {
    background-color: #FFFFFF;
}

.addTaskTitleInputContent {
    height: 96px;
    padding-bottom: 16px;
}

.addTaskInputs {
    max-width: 398px;
}

.addTaskSeperator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    border-radius: 3px;
}

.addTaskPriorityButtons {
    max-width: 440px;
    width: 100%;
    margin-top: 8px;
    display: flex;
    gap: 16px;
}

.dropdown {
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.dropdown span {
    font-size: 20px;
    padding-left: 16px;
}

.dropdownItemContainer {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.dropdownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    gap: 2px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.dropdownItemOff:hover {
    cursor: pointer;
    background-color: #d1d1d152;
}

.dropdownItemOn {
    background-color: #2A3647;
    color: #FFFFFF;
}

.dropdownItemOn:hover {
    cursor: pointer;
    background-color: #091931;
}

.dropdownContent {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    max-height: 288px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.selectList {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
}

.paddingBottom24 {
    padding-bottom: 24px;
}

.dropdownDownIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.dropdownDownIcon:hover {
    background-color: #d1d1d152;
    border-radius: 43px;
    cursor: pointer;
}

.addTaskDropDownSection {
    border-radius: 10px 10px 10px 10px;
}

.boxShadow {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.addTaskDropdownContainer {
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 2px);
    position: relative;
    z-index: 1;
}

.addTaskAddedContactIcons {
    display: flex;
    gap: 8px;
    max-width: 440px;
    flex-wrap: wrap;
}

.margin_top8 {
    margin-top: 8px;
}

.addTaskDropdownContainerSearch {
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 2px);
    position: relative;
    z-index: 1;
}

.addTaskDropdownContainer:hover {
    cursor: pointer;
    border: 1px solid #b6b5b5;

}

.addTaskSearchInput {
    height: 24px;
    font-size: 20px;
    box-sizing: border-box;
    border: 0px solid;
    font-family: 'Inter';
    margin-left: 16px;
    width: 85%;
}

.subtaskInputContainer {
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: calc(100% - 2px);
    margin-top: 8px;
    position: relative;
}

.subtaskInput {
    padding-left: 16px;
    height: 24px;
    font-size: 20px;
    box-sizing: border-box;
    border: 0px solid;
    width: 80%;
}

.subtaskInputIconContainer {
    display: none;
}

.subtaskInput:not(:placeholder-shown)+.subtaskInputIconContainer {
    display: flex;
    position: absolute;
    right: 16px;
    gap: 4px;
}

.subtaskInputIconContainer img {
    width: 24px;
    height: 24px;
}

.subtaskInputIcon:hover {
    cursor: pointer;
    background-color: #d1d1d152;
    border-radius: 16px;
}

.subtaskListContent {
    max-height: 140px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.subtaskSeperator {
    height: 24px;
    border: 1px solid #D1D1D1;
}

.addTaskRequiredInfo {
    font-size: 16px;
    padding-bottom: 71px;
    padding-top: 207px;
}

.addTaskRequiredInfoMobile {
    display: none;
}

.addTaskMainButtons {
    display: flex;
    justify-content: end;
    gap: 16px;
    z-index: 1;
    position: relative;
    max-width: 976.25px;
    padding-right: 102px;
}

.addTaskTextarea {
    resize: none;
    width: 408px;
    font-size: 20px;
    font-family: 'Inter';
    border: 0px solid;
    margin: 18px 16px;
    height: 100%;
    max-height: 79px;
}

.addTaskTextarea:focus {
    outline: none;
}

.addTaskDescriptionInputContainer img {
    position: absolute;
    bottom: 6.1px;
    right: 6.1px;
}

.dropdownCategoryItem {
    display: flex;
    align-items: center;
    height: 48px;
}

.dropdownCategoryItem:hover {
    background-color: #d1d1d152;
    border-radius: 10px;
}

.subtaskItem {
    margin-top: 8px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
}

.subtaskItemEdit {
    margin-top: 8px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #29ABE2;
}

.subtaskItem:hover {
    background-color: #d1d1d152;
    border-radius: 10px;
}

.subtaskActions {
    display: none;
    gap: 4px;
    padding-right: 16px;
}

.subtaskActionsEdit {
    gap: 4px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.subtaskItem:hover .subtaskActions {
    display: flex;
    align-items: center;
}

.subtaskActions img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.subtaskActionsEdit img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}