button {
    border-radius: 10px;
    border: none;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonPrimary {
    width: 99px;
    height: 48px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.buttonPrimary:hover:not(:disabled) {
    background-color: #29ABE2;
}

.buttonPrimary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.buttonPrimary:active {
    background-color: #091931 !important;
}

.buttonSecondary {
    width: 99px;
    height: 51px;
    background-color: transparent;
    border: 2px solid #2A3647;
    font-size: 16px;
    color: #2A3647;
}

.buttonSecondary:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.buttonSecondary:active {
    border: 2px solid #091931;
    color: #091931;
}

.buttonCreateTask {
    width: 183px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttonCreateTask:hover {
    background-color: #29ABE2;
}

.buttonCreateTask:active {
    background-color: #091931;
}

.buttonCreateTask::after {
    content: "";
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonAddContact {
    width: 255px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttonAddContact:hover {
    background-color: #29ABE2;
}

.buttonAddContact:active {
    background-color: #091931;
}

.buttonAddContact::after {
    content: "";
    display: flex;
    width: 33px;
    height: 33px;
    background-image: url('../assets/icons/person_add.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonCancle {
    width: 126px;
    height: 56px;
    background-color: transparent;
    border: 2px solid #2A3647;
    font-size: 20px;
    color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.buttonCancle:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.buttonCancle:active {
    border: 2px solid #091931;
    color: #091931;
}

.buttonAddTask {
    width: 160px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonAddTask:hover {
    background-color: #29ABE2;
}

.buttonAddTask:active {
    background-color: #091931;
}

.buttonAddTask::after {
    content: "";
    display: flex;
    width: 33px;
    height: 33px;
    background-image: url('../assets/icons/add.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonsFooterIndex {
    color: #CDCDCD;
    text-decoration: none;
}

.buttonsFooterIndex:hover {
    color: #2AABE1;
    cursor: pointer;
    font-weight: bold;
}

.prioButtonAddTask {
    flex: 1;
    height: 56px;
    background-color: #FFFFFF;
    font-size: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buttonUrgentIcon {
    width: 20px;
    height: 14.51px;
}

.buttonUrgentActive {
    background-color: #FF3D00;
    color: #FFFFFF;
    box-shadow: unset !important;
}

.buttonMediumIcon {
    width: 20px;
    height: 7.45px;
}

.buttonMediumActive {
    background-color: #FFA800;
    color: #FFFFFF;
    box-shadow: unset !important;
}

.buttonLowIcon {
    width: 20px;
    height: 14.51px;
}

.buttonLowActive {
    background-color: #7AE229;
    color: #FFFFFF;
    box-shadow: unset !important;
}

.buttonContactCreated {
    background-color: #293647;
    color: white;
    font-size: 20px;
    font-family: inter, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    width: 326px;
    height: 74px;
    font-weight: 400;
}

.addContactButton {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-inline: 16px;
}

.addNewContactButton {
    font-size: 21px;
    font-weight: 700;
    height: 52px !important;
    width: 352px !important;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 22.5px;
    position: absolute;
    border-radius: 10px;
}

.userConfirmationContactCreation {
    max-width: 326px;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
}

.buttonOk {
    width: 89px;
    height: 57px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonOk:hover {
    background-color: #29ABE2;
}

.buttonOk:active {
    background-color: #091931;
}

.boardHeadlineAddButton:active {
    fill: #29ABE2;
}