.navContainer {
    width: 232px;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    gap: 114.02px;
    padding-block: 64px;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}

.navContainerLogo {
    display: flex;
    justify-content: center;
}

.navContainerMenu {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.navLine {
    gap: 8px;
    display: flex;
    flex-direction: row;
    color: #CDCDCD;
    cursor: pointer;
    align-items: center;
    padding-left: 56px;
}

.navIcon {
    width: 30px;
    height: 30px;
}

.navContainerSites {
    display: flex;
    flex-direction: column;
    height: 317px;
    justify-content: end;
    color: #CDCDCD;
    gap: 4px;
}

.sitesNavContainer {
    color: #CDCDCD;
    padding-left: 56px;
}

.sitesNavContainer:hover {
    color: #2AABE1;
    cursor: pointer;
}

.navLine.active {
    background-color: #091931;
    color: white;
}

.navLine.active .navIcon {
    filter: brightness(0) invert(1);
}

.navLine:hover {
    background-color: #091931;
    color: white;
}

.navLine:hover .navIcon {
    filter: brightness(0) invert(1);
}

.policeAndNoticeMobile {
    display: flex;
    justify-content: right;
    
}